html{
    height: 100%;
}

body{
    background: radial-gradient(#761212 0%, #ce0808 100%);
    font-family: cursive;
    text-align: center;
}

.doge{
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-bottom: 10px solid #000;
    z-index: 1;

}

.doge2{
    filter: blur(50px);
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.doge:active{
    width: 260px;
    height: 260px;
}

#dc{
    font-size: 40px;
    position: fixed;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -15%);
}

.upgrades{
    height: 92%;
    width: 250px;
    position: fixed;
    left: 25px;
    top: 32%;
    transform: translate(-25px, -32%);
    background: radial-gradient(#125f76 0%, #0c9cdf 100%);
    border-right: 10px solid #000;
    overflow-y: auto;
}

.upgrades h1{
    font-size: 30px;
}

.u1{
    width: 250px;
    border-top: 10px solid #000;
    border-bottom: 10px solid #000;
    background: radial-gradient(#127647 0%, #08ce6b 100%);

}

.nav-bar {
    background: radial-gradient(#17ffff 0%, #071556 100%);
    width: 200%;
    height: auto;
    text-align: center;
    overflow: hidden;
    border-bottom: 0px solid #000;
    border-left: 0px solid #000;
    border-right: 0px solid #000;
    border-top: 10px solid #000;
    position: fixed;
    bottom: 0;
    left: 1%;
    transform: translate(-1%, 0);
  }

  .nav-bar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }

  .nav-bar h1{
    float: right;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }

  .nav-bar a:hover {
    background: #f1f1f1;
    color: black;
  }

  .nav-bar a.active {
    background-color: #d61212;
    color: white;
  }