html{
    height: 100%;
}

body{
    background: radial-gradient(#761212 0%, #ce0808 100%);
    font-family: cursive;
    text-align: center;
}

.doge{
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;

}

.doge2{
    filter: blur(50px);
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 0;
}

.doge:active{
    width: 260px;
    height: 260px;
}

.dc{
    font-size: 40px;
    position: fixed;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -15%);
}

.dcCos{
    font-size: 40px;
    position: fixed;
    top: 15%;
    left: 70vw;
    transform: translate(-50%, -15%);
}

.upgrades{
    height: calc(103vh - 60px);
    width: 250px;
    position: fixed;
    left: 25px;
    top: 37vh;
    transform: translate(-25px, -40%);
    background: radial-gradient(#125f76 0%, #0c9cdf 100%);
    border-right: 10px solid #000;
    overflow-y: scroll;
}

.cos{
    height: calc(103vh - 60px);
    width: 40vw;
    position: fixed;
    left: 25px;
    top: 37vh;
    transform: translate(-25px, -40%);
    background: radial-gradient(#125f76 0%, #0c9cdf 100%);
    border-right: 10px solid #000;
    overflow-y: scroll;
}

.dogeCos{
    position: fixed;
    left: 70vw;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;

}

.cos h1{
    font-size: 50px;
}

.stats{
    height: calc(103vh - 60px);
    width: 250px;
    position: fixed;
    right: 0px;
    top: 37vh;
    transform: translate(-0px, -40%);
    background: radial-gradient(#125f76 0%, #0c9cdf 100%);
    border-left: 10px solid #000;
    overflow-y: scroll;
}

.stats h1{
    font-size: 40px;
    padding-bottom: 25px;
    border-bottom: 10px solid #000;
}

.upgrades h1{
    font-size: 30px;
}

.u1{
    width: 250px;
    border-top: 10px solid #000;
    border-bottom: 10px solid #000;
    background: radial-gradient(#127647 0%, #08ce6b 100%);

}

.u2{
    width: 250px;
    border-top: 10px solid #000;
    border-bottom: 10px solid #000;
    background: radial-gradient(#761271 0%, #c708ce 100%);

}

.u3{
    width: 250px;
    border-top: 10px solid #000;
    border-bottom: 10px solid #000;
    background: radial-gradient(#767412 0%, #cecb08 100%);

}

.u4{
    width: 250px;
    border-top: 10px solid #000;
    border-bottom: 10px solid #000;
    background: radial-gradient(#127376 0%, #08ceb4 100%);

}

.nav-bar {
    background: radial-gradient(#17ffff 0%, #071556 100%);
    width: 200%;
    height: auto;
    text-align: center;
    overflow: hidden;
    border-bottom: 0px solid #000;
    border-left: 0px solid #000;
    border-right: 0px solid #000;
    border-top: 10px solid #000;
    position: fixed;
    bottom: 0;
    left: 1%;
    transform: translate(-1%, 0);
  }

  .nav-bar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }

  .nav-bar h1{
    float: right;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }

  .nav-bar a:hover {
    background: #f1f1f1;
    color: black;
  }

  .nav-bar a.active {
    background-color: #d61212;
    color: white;
  }

  #delData{
      font-size: 25px;
      font-family: cursive;
      color: white;
      width: 250px;
      padding: 25px;
      position: fixed;
      bottom: 3%;
      left: 125px;
      transform: translate(-125px, 3%);
      border-top: 10px solid #000;
      border-left: 1px solid #000;
      background: radial-gradient(#761212 0%, #ce0808 100%);
  }

  #delData:hover{
    background: radial-gradient(#621276 0%, #ce0cdf 100%);
  }

  .c1{
    width: 40vw;
    border-top: 10px solid #000;
    border-bottom: 10px solid #000;
    background: radial-gradient(#761271 0%, #c708ce 100%);
}

.c1 h1{
    font-size: 25px;
}